{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darrin's URL Shortener</title>
    <link rel="stylesheet" href="{% static "shortener/css/style.css" %}">
<!--    <link rel="stylesheet" href="{% static "shortener/css/fieldset.css" %}">-->
<!--    <link rel="stylesheet" href="{% static "shortener/css/table.css" %}">-->
<!--    <link rel="stylesheet" href="{% static "shortener/css/forms.css" %}">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
<div class="row">
    <div class="col-lg-6">
        <div id="logo">Darrin's URL Shortener</div>
        <nav>
            <a href="{% url 'search' %}">Search</a>
            <a href="">Login</a>
        </nav>
    </div>
<div>
</header>
<body>
    <div class="container">
        <div class="row">
            <div class="column">

                <div class="wrapper">
                    <main>
                        <form action="/" method="POST">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {{ form }}
                            {% if messages %}
                                <ul class="messages" style="font-weight: bold; text-align: center">
                                    {% for message in messages %}
                                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div><button type="submit" style="">Shorten it!</button></div>
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <footer>&copy; For internal use only. Contains information that may not be disclosed externally.</footer>
</body>

</html>