{% extends "main.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<form action="/shortener" method="GET" class="bg-light bg-gradient p-3 border border-secondary border-1 rounded border-opacity-25">
    {% csrf_token %}
    <div class="row mb-3 mt-5">
      <label for="{{ form.url.id_for_label }}" class="col-sm-2 col-form-label text-end">{{ form.url.label }}</label>
      <div class="col-sm-10">
        {{ form.url }}
        {{ form.url.errors }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.short_key.id_for_label }}" class="col-sm-2 col-form-label text-end">{{ form.short_key.label }}</label>
      <div class="col-sm-10">
          {{ form.short_key }}
          {{ form.short_key.errors }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.tags.id_for_label }}" class="col-sm-2 col-form-label text-end">{{ form.tags.label }}</label>
      <div class="col-sm-10">
          {{ form.tags }}
          {{ form.tags.errors }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.created_before.id_for_label }}" class="col-sm-2 col-form-label text-end">{{ form.created_before.label }}</label>
      <div class="col-sm-10">
          {{ form.created_before }}
          {{ form.created_before.errors }}
      </div>
    </div>

    <div class="row mb-3">
      <label for="{{ form.created_after.id_for_label }}" class="col-sm-2 col-form-label text-end">{{ form.created_after.label }}</label>
      <div class="col-sm-10">
          {{ form.created_after }}
          {{ form.created_after.errors }}
      </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-2">
            <button type="submit" class="btn btn-primary btn-secondary bg-gradient" name="formaction" value="list">Search</button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            {% if form.non_field_errors %}
                <p style="color:red;">Errors:</p>
                {{ form.non_field_errors }}
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            {% if messages %}
                {% for message in messages %}
                    <p class="messages" style="font-weight: bold;"> {{ message }} </p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</form>


<!--{% if shortener_results %}-->
<!--    {% render_table shortener_results %}-->
<!--{% endif %}-->

<!--<table class="table table-striped table-sm table-bordered">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th scope="col">#</th>-->
<!--      <th scope="col">First</th>-->
<!--      <th scope="col">Last</th>-->
<!--      <th scope="col">Handle</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody >-->
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Mark</td>-->
<!--      <td>Otto</td>-->
<!--      <td>@mdo</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">2</th>-->
<!--      <td>Jacob</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">3</th>-->
<!--      <td colspan="2">Larry the Bird</td>-->
<!--      <td>@twitter</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->

<!--<table class="table table-striped table-sm table-bordered mt-5">-->
<!--    <tr>-->
<!--        <th>key</th>-->
<!--        <th>long url</th>-->
<!--        <th>tags</th>-->
<!--        <th>created</th>-->
<!--    </tr>-->
<!--    {% for result in shortener_list %}-->
<!--        <tr>-->
<!--            {% for x in result %}-->
<!--                <td>{{ x | default:"" }}</td>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--    {% endfor %}-->
<!--</table>-->

{% if shortener_queryset %}
<table class="table table-striped table-sm table-bordered mt-5">
    <thead>
        <th>id</th>
        <th>key</th>
        <th>long url</th>
        <th>tags</th>
        <th>created</th>
    </thead>
    <tbody>
        {% for shortener in shortener_queryset %}
            <tr>
                <td>{{shortener.id}}</td>
                <td><a href="shortener/{{ shortener.id }}">{{ shortener.short_key|default:"" }}</td>
                <td>{{ shortener.url|default:"" }}</td>
                <td>{{ shortener.tags|default:"" }}</td>
                <td>{{ shortener.createdDate|default:"" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
