<!-- here is how you can just render the entire form {{ form }}-->
<form class="form-horizontal" action="/" method="POST">-->
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form }}
    {% if messages %}
        <ul class="messages" style="font-weight: bold; text-align: center">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div><button type="submit" style="">Shorten it!</button></div>
</form>