.errorlist {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 70%;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}