main{
   background-color: #e3e2e1;
}

fieldset {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 3px;
  margin: auto;
  width: 85%;
  box-sizing: border-box;
  float: right;
  margin-right: 10px;
}

label{
    margin-left: 0px;
    margin-right: 2px;
    display: inline-block;
    width: 25%;
    text-align: left;
}

.checkbox-label{
    display: inline-block;
    width: 90%;
    text-align: left;
}

input {
  margin: 10px;
  margin-left: 0px;
  width: 70%;
  border-radius: 3px;
  border: 1px solid gray;
}

input[type=checkbox]{
    width: 20px;
}

select{
    margin-bottom: 10px;
    border-radius: 3px;
}

button{
    margin: 0px;
    margin-top: 20px;
    border-radius: 3px;
    font-size: 26px;
    background-color: #dadbd9;
    border: 1px solid gray;
}

.check{
    display: inline-block;
    width: 90%;
    text-align: left;
}